@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html {
	font-family: Roboto, Open Sans, Geneva, Calibri, Arial;
}

body {
	background-image: url("background.png");
	background-attachment: fixed;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}

.header {
	position: relative;
	margin: 2%;
}

h1 {
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	border: none;
	border-radius: 20px;
	background-color: white;
	opacity: 0.7;
	padding: 20px 20px 20px 20px;
}

.introduction {
	font-size: 30px;
	text-align: center;
	vertical-align: middle;
	border: none;
	border-radius: 20px;
	background-color: white;
	opacity: 0.7;
	padding: 20px 20px 20px 20px;
	margin: 2%
}

.intro-title {
	font-size: 40px;
	font-weight: bold;
}

ul {
	width: 70%;
	left: 15%;
	text-align: justify;
	position: relative;
}

.form {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	font-size: 30px;
	border: none;
	border-radius: 20px;
	background-color: white;
	opacity: 0.7;
	padding: 20px 20px 20px 20px;
	margin: 0 15%;   
}

.N1_N2_select {
	width: 45%;
	text-align: center;
}

.category-label {
    margin-bottom: 15px;
    display: block;
}

.number_of_rounds_select {
	width: 45%;
	text-align: center;
}

.number_of_rounds_list {
	width: 40%;
	height: 60px;
	border: 1px solid #999;
	background-color: #eee;
	border-radius: 5px;
	margin-top: 3%;
	font-size: 20px;
}

/*
.validate_button {
	font-size: 30px;
	font-weight: bold;
	height: 50px;
	border: 1px solid #999;
	background-color: #eee;
	border-radius: 5px;
}
*/

.validate_button {
	background-color: #007bff;
	border: none;
	padding: 10px 20px;
	color: white;
	border-radius: 5px;
	font-size: 30px;
	font-weight: bold;
	height: 50px;
	cursor: pointer;
	transition: background-color 0.3s;
}
.validate_button:hover {
	background-color: #0056b3;
}
 

.script_output{
	font-size: 1.6em;
	border-radius: 20px;
	background-color: white;
	position: relative;
	opacity: 0.5;
	padding: 20px 100px;
	margin: 2% auto;
	width: 350px;
	font-family: 'Roboto Mono', monospace;
}

@media screen and (max-width: 900px) {
	.form {
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.N1_N2_select {
		width: 90%;
		margin-bottom: 0;
	}

	.number_of_rounds_select {
		width: 90%;
	}
}

@media screen and (max-width: 600px) {
	.validate_button {
		display: inline;
		width: 90%;
		height: auto;
	}
}

input[type="radio"] {
	appearance: none;
	border: 2px solid #007bff;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
}
  
input[type="radio"]:checked {
	background-color: #007bff;
}

select {
appearance: none;
background-color: #f8f9fa;
border: 1px solid #ced4da;
padding: 10px;
font-size: 16px;
border-radius: 5px;
cursor: pointer;
transition: 0.3s;
}

select:hover {
border-color: #007bff;
}
  